<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <style>
        *{
            margin: 0; padding: 0;
        }
        body{
            background: #cdcdcd;

        }
    </style>
</head>
<body>
    <center style="padding: 50px;">
        <label for="">推荐码：</label> <input placeholder="请输入推广码" type="text">
        <button id="start">开始推广</button>
    </center>
    <iframe src="" frameborder="0"></iframe>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>
    $('#start').on('click',function(){

    })

</script>
</body>
</html>